<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/styles/styles.css">
  <meta name="viewport" content="width=device-width">
  {{#each favicons.html}}
    {{{ this }}}
  {{/each}}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ sitename }} - {{ title }}">
  <meta property="og:description" content="{{ description }}">
</head>
<body>
  <section id="page">
    <header id="page-header">
      <h1><a href="/">Matt Oakes</a></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </header>
    {{{ contents }}}
  </section>
</body>
</html>
