<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/{{ fingerprint.[styles/styles.css] }}">
  <meta name="viewport" content="width=device-width">
  {{#each favicons.html}}
    {{{ this }}}
  {{/each}}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ sitename }} - {{ title }}">
  <meta property="og:description" content="{{ description }}">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Matt Oakes Limited",
      "url": "{{ siteurl }}",
      "image": "{{ siteurl }}favicons/android-chrome-512x512.png",
      "logo": "{{ siteurl }}favicons/android-chrome-512x512.png",
      "founder": {
        "@type": "Person",
        "name": "Matt Oakes",
        "givenName": "Matt",
        "familyName": "Oakes",
        "email": "hello@mattoakes.net",
        "image": "{{ siteurl }}favicons/android-chrome-512x512.png",
        "sameAs": [
          "https://twitter.com/mattdoesmobile",
          "https://medium.com/@mattoakes",
          "https://github.com/matt-oakes",
          "https://www.linkedin.com/in/oakesm9"
        ]
      },
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "hello@mattoakes.net",
        "contactType": "sales",
        "url": "{{ siteurl }}contact/"
      }],
      "sameAs": [
        "https://twitter.com/mattdoesmobile",
        "https://medium.com/@mattoakes",
        "https://github.com/matt-oakes",
        "https://www.linkedin.com/in/oakesm9"
      ]
    }
  </script>
  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-83404910-1', 'auto');

    ga('require', 'cleanUrlTracker', {
      stripQuery: true,
      indexFilename: 'index.html',
      trailingSlash: 'add'
    });
    ga('require', 'maxScrollTracker');
    ga('require', 'pageVisibilityTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'outboundFormTracker');

    if (location.hostname === 'localhost' || location.hostname === '0.0.0.0') {
      console.log('GA debug mode');
      ga('set', 'sendHitTask', null);
    }

    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='/scripts/autotrack.js'></script>
  <!-- End Google Analytics -->
</head>
<body>
  <section id="page">
    <header id="page-header">
      <h1><a href="/">Matt Oakes</a></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </header>
    {{{ contents }}}
  </section>
</body>
</html>
